@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
}

@layer utilities {
	.text-shadow {
		text-shadow: 2px 2px 6px grey;
	}
	.text-shadow-none {
		text-shadow: none;
	}
}
